body{
    background-color: #E6E6E6;
}

p{
    text-indent: 40px;
}

/* Add .axis path and .axis line commans as described in the  book (1 point) */

/* Code taken from the book examples */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
}